#container-header-background {
	background-color: #000
}
#container-header {
	border-top: 0;
	margin: 0 auto;
	max-width: 1004px;
	padding: 1px 10px 0;
	position: relative;
	height: 120px;
}
#umbc-header {
	position: relative
}
#umbc-logo {
	height: 63px;
	margin: 26px 0;
	width: 350px
}
#umbc-logo a {
	background-image: url(../img/sprites.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	display: block;
	height: 63px;
	width: 350px
}
#umbc-logo a span {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden
}
#umbc-nav {
	bottom: 0;
	min-width: 320px;
	padding: 5px 0 5px 18px;
	position: absolute;
	right: 0;
	width: 39.0625%
}
#umbc-nav-items {
	font-size: 12px;
	font-weight: 700;
	line-height: 13px;
	list-style: none;
	margin: 0 0 8px;
	overflow: hidden;
	padding: 0 1%;
	text-align: center;
	width: 100%
}
#umbc-nav-items li {
	border-right: 1px solid #999;
	display: block;
	float: left
}
#umbc-nav-items a {
	color: #999;
	text-decoration: none
}
#umbc-nav-items a:hover, #umbc-nav-items a:focus {
	color: #fc0
}
#umbc-nav-50 {
	text-align: left;
	width: 15%
}
#umbc-nav-azindex {
	width: 18%
}
#umbc-nav-myumbc {
	width: 19%
}
#umbc-nav-events {
	width: 14%
}
#umbc-nav-directory {
	width: 19%
}
li#umbc-nav-maps {
	border-right: 0;
	text-align: right;
	width: 10%
}
#umbc-nav-search-input {
	background-color: #FFF;
	border: 1px solid #999;
	overflow: hidden;
	position: relative
}
#umbc-nav-search-input label {
	display: none
}
#umbc-nav-search-query {
	border: 0;
	border-color: transparent;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	height: 22px;
	padding: 4px 38px 4px 8px;
	width: 88.5%
}
#umbc-nav-search-submit {
	position: absolute;
	right: 0;
	top: 0;
	background-color: transparent;
	background-image: url(../img/sprites.png);
	background-position: 0 -93px;
	height: 30px;
	width: 30px;
	border: 0;
	border-color: transparent
}


@media screen and (max-width:853px) {
#container-header {
	padding: 4px
}
}
@media screen and (max-width:640px) {
 
#umbc-logo {
	height: 30px;
	margin: 4px 0 4px 50px;
	width: 109px
}
#umbc-logo a {
	background-image: url(../img/sprites.png);
	background-position: 0 -63px;
	height: 30px;
	width: 109px
}
#umbc-nav {
	margin-top: 5px;
	padding: 8px 0 0;
	min-width: 100px;
	width: 46%
}
#umbc-nav-items {
	display: none
}
#umbc-nav-search-query {
	width: 80%
}
span#mobile-site-menu-expander {
	display: block;
	margin-right: -40px
}
#mobile-site-menu-expander {
	background-color: #000;
	border: 1px solid #666;
	border-radius: 6px;
	box-shadow: 0 0 2px 0 #333;
	box-shadow: 0 0 2px 0 rgba(0,0,0,.5);
	display: block;
	height: 28px;
	left: 4px;
	overflow: hidden;
	padding-top: 8px;
	padding-bottom: 1px;
	position: absolute;
	top: 4px;
	width: 40px
}
.mobile-site-menu-expander-bar {
	background-color: #FFF;
	border-radius: 2px;
	box-shadow: 0 0 2px 0 #333;
	box-shadow: 0 0 2px 0 rgba(0,0,0,.5);
	display: block;
	height: 3px;
	margin: 0 auto;
	width: 70%
}
.mobile-site-menu-expander-bar+.mobile-site-menu-expander-bar {
	margin-top: 6px
}
#site-header {
	position: static;
	box-shadow: 0 2px 1px -1px #aaa;
	box-shadow: 0 2px 1px -1px rgba(0,0,0,.5)
}
#site-header.no-menu {
	padding-left: 4px
}
#site-header h1 {
	font-size: 30px;
	line-height: 34px;
	position: relative;
	padding: 10px 8px 0
}
#site-menu {
	display: none;
	position: static;
	height: auto;
	box-shadow: none
}
#site-menu li {
	float: none;
	position: static
}
#site-menu li.utilities {
	display: block;
	float: none;
	position: static
}
#site-menu li a {
	background-color: #EEE;
	border-right: 0;
	border-bottom: 1px solid #000;
	border-bottom: 1px solid rgba(0,0,0,.2);
	color: #333;
	font-size: 16px;
	line-height: 18px;
	padding: 14px 20px 14px 8px;
	text-transform: uppercase
}
#site-menu li:hover a {
	background-color: #EEE;
	color: #333
}
#site-menu li li a {
	border-right: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 20px;
	text-transform: none;
	padding: 14px 20px 14px 28px
}
#site-menu .menu-arrow {
	display: none
}
#site-menu>ul>li>a .menu-arrow {
	display: none
}
#site-menu li>ul {
	box-shadow: none;
	display: block;
	position: static;
	width: auto
}
#site-menu li li>ul {
	display: block;
	position: static;
	left: auto;
	top: auto
}
#site-menu li li.hover>ul {
	display: block
}
#site-menu li li li a {
	padding-left: 58px
}
#container-header {
	height: auto;
}
}