.alumni div { float: left; width: 30%; text-align: center; }

	@media 
	only screen and (max-width: 1023px),
	(min-device-width: 800px) and (max-device-width: 1023px)  {
	
.alumni div { display: block; width:100%;  padding-bottom:20px;}
h4{padding-bottom:0px!important; margin-bottom:-20px !important;}

	}