a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {margin: 0;	padding: 0;	border: 0;	font: inherit;	vertical-align: baseline}article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block}body {	line-height: 1}ol, ul {	list-style: none}blockquote, q { quotes: none}blockquote:after, blockquote:before, q:after, q:before { content: ''; content: none}table {	border-collapse: collapse;	border-spacing: 0}
 
body{font-family: Arial,"Helvetica Neue", Helvetica,  sans-serif;
	font-size: 13px;
	line-height: 1.3846153846154em;
	color: #333;
	background-color:#fff; }
#main {
	/*background:   #fff;*/
	margin-bottom:0px;
}
a {
	color: #c00;
	text-decoration: none
}
a:hover, a:focus {
	color: #900;
	text-decoration: underline
}
html .gstl_0, html .gssb_c {
	margin: 0
}
html .gsc-completion-container, html .gssb_e {
	box-shadow: none;
	border-color: #999;
	margin-top: 2px
}
html .gssb_a {
	padding: 4px 8px
}
html {
	-webkit-text-size-adjust: 100%
}
label, input[type=button], input[type=submit], button {
	cursor: pointer
}
.ie7 img {
	-ms-interpolation-mode: bicubic
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto',"Avenir-Medium", Arial, sans-serif; 
}
h1 {
	font-size: 2.5em;
 
}
h2 {
	font-size: 2.4em
}
h3 {
	font-size: 2em;
	 
}
h4 {
	font-size: 1.6em
}
h5 {
	font-size: 1.3em
}
h6 {
	font-size: 1.1em
}
pre {
	border: 1px solid #DDD;
	padding: 1em 1.2em;
	background-color: #fcfcfc;
	overflow: auto
}
blockquote {
	background-color: #eee;
	box-shadow: 2px 2px 2px #bbb;
	padding: .1em 1.5em;
	margin: 0
}
.none {
	display: none
}
#container-header-background {
	background-color: #FFF
}
#container-header {
	border-top: 0;
	margin: 0 auto;
	max-width: 1004px;
	padding: 1px 10px 0;
	position: relative
}
#skip-content a {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
	z-index: 10
}
#skip-content a:hover, #skip-content a:focus {
	background-color: #FFF;
	position: absolute;
	left: 0;
	top: 0;
	width: auto;
	height: auto;
	overflow: hidden
}
#umbc-header {
	position: relative
}
#umbc-logo {
	height: 63px;
	margin: 26px 0;
	width: 350px
}
#umbc-logo a {
	background-image: url(http://www.umbc.edu/dps/images/sprites-new.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	display: block;
	height: 63px;
	width: 350px
}
#umbc-logo a span {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden
}
#umbc-nav {
	bottom: 0;
	min-width: 320px;
	padding: 5px 0 5px 18px;
	position: absolute;
	right: 0;
	width: 39.0625%
}
#umbc-nav-items {
	font-size: 12px;
	font-weight: 700;
	line-height: 13px;
	list-style: none;
	margin: 0 0 8px;
	overflow: hidden;
	padding: 0 1%;
	text-align: center;
	width: 100%
}
#umbc-nav-items li {
	border-right: 1px solid #999;
	display: block;
	float: left
}
#umbc-nav-items a {
	color: #999;
	text-decoration: none
}
#umbc-nav-items a:hover, #umbc-nav-items a:focus {
	color: #fc0
}
#umbc-nav-50 {
	text-align: left;
	width: 15%
}
#umbc-nav-azindex {
	width: 18%
}
#umbc-nav-myumbc {
	width: 19%
}
#umbc-nav-events {
	width: 14%
}
#umbc-nav-directory {
	width: 19%
}
li#umbc-nav-maps {
	border-right: 0;
	text-align: right;
	width: 10%
}
#umbc-nav-search-input {
	background-color: #FFF;
	border: 1px solid #999;
	overflow: hidden;
	position: relative
}
#umbc-nav-search-input label {
	display: none
}
#umbc-nav-search-query {
	border: 0;
	border-color: transparent;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	height: 22px;
	padding: 4px 38px 4px 8px;
	width: 88.5%
}
#umbc-nav-search-submit {
	position: absolute;
	right: 0;
	top: 0;
	background-color: transparent;
	background-image: url(http://www.umbc.edu/dps/images/sprites-new.png);
	background-position: 0 -93px;
	height: 30px;
	width: 30px;
	border: 0;
	border-color: transparent
}
#site-header {
	background-color: #EBEBEB;
	background-position: right center;
	background-repeat: no-repeat;
	color: #FFF;
	position: relative;
	z-index: 10
}
#mobile-site-menu-expander {
	display: none
}
#site-header h1 {
	bottom: 0;
	font-family: 'Roboto',"Avenir-Medium", Arial, sans-serif;
	font-size: 50px;
	left: 0;
	line-height: 1.2em;
	margin: 0;
	padding: 8px 26px;
	position: absolute;
	text-shadow: 1px 1px 1px #333;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5)
}
#site-header h1 a {
	color: #FFF;
	text-decoration: none
}
#site-menu-background {
	background-color: #fc0
}
#site-menu {
	color: #000;
	position: relative;
	z-index: 10;
	max-width: 1100px;
	border-top: 0;
	margin: 0 auto;
	padding: 0;
	position: relative
}
#site-menu ul {
	margin: 0;
	padding: 0
}
#site-menu>ul {
	overflow: hidden
}
#site-menu li {
	display: block;
	float: left;
	margin: 0;
	padding: 0
}
#site-menu li.utilities {
	display: none
}
#site-menu li a {
	border-right: 1px solid #666;
	border-right: 1px solid rgba(102,102,102,1);
	border-left: 1px solid #666;
	border-left: 1px solid rgba(102,102,102,1);
	color: inherit;
	display: block;
	font-family: 'Roboto',"Avenir-Medium", Arial, sans-serif;
	font-size: 12.25px;
	line-height: 12px;
	margin: 0;
	padding: 10px 12px 8px 8px;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	white-space: nowrap
}
#site-menu li a:hover{background-color: #434141}
#site-menu li.hover a {
	background-color: #ffc;
	color: #000
}
#site-menu li a.hover {
	background-color: #fc0;
	color: #000
}
#site-menu li.last-child a {
	border-right: 0
}
#site-menu li li a {
	border-right: 0;
	font-family: 'Roboto',"Avenir-Medium", Arial, sans-serif;
	text-transform: none;
	line-height: 16px;
	padding: 10px 28px 10px 8px;
	border-left: 1px solid #fff;
	border-left: 1px solid rgba(255,255,255,.05)
}
#site-menu .menu-arrow {
	color: #EEE;
	display: block;
	height: 16px;
	line-height: 16px;
	opacity: .5;
	position: absolute;
	right: 4px;
	top: 10px;
	width: 16px
}
#site-menu li>a.hover .menu-arrow {
	color: #000;
	opacity: 1
}
#site-menu>ul>li>a .menu-arrow {
	padding-left: 6px;
	display: inline-block;
	color: #333;
	opacity: 1;
	position: relative;
	right: auto;
	top: -2px;
	width: auto;
	color: inherit;
	font-size: 12px;
	height: 12px;
	width: 12px;
	vertical-align: top
}
#site-menu li li {
	float: none
}
#site-menu li>ul {
	box-shadow: 2px 2px 1px -1px #aaa;
	box-shadow: 2px 2px 2px -1px rgba(0,0,0,.5);
	display: none;
	position: absolute;
	width: auto;
	min-width: 150px;
	white-space: nowrap
}
#site-menu li.hover>ul {
	display: block;
	background-color: #333
}
#site-menu li li {
	position: relative
}
#site-menu li li>ul {
	display: none;
	position: absolute;
	left: 100%;
	top: 0;
	width: auto
}
#site-menu li li.hover>ul {
	display: block
}
/* =JLD */
#site-footer {
	display: table;
	width: 100%;
	margin-bottom:0;
	text-align:center;
}
#site-footer p { }
#site-footer h1, #site-footer h2, #site-footer h3 {
	padding: .35em;
	font-size: 1.75em;
	/*background:#FFF;*/
	color: #ce181e;
	
	}
#site-footer .footer-field {
	border-right: 1px solid #000;
	border-right: 1px solid rgba(0,0,0,.2);
	display: table-cell;
	text-align: center;
	padding: 8px 12px
}
 
#umbc-footer {
	margin: 0 auto;
	max-width: 1004px;
	padding: 16px 0 0;
	position: relative;
	color: #646565;
	margin-bottom: 24px;
	overflow: hidden;
	padding: 1% .75% .5% .75%
}
#umbc-footer-logo {
	float: left;
	height: 42px;
	width: 229px
}
#umbc-footer-logo a {
	background-image: url(http://www.umbc.edu/dps/images/sprites-new.png);
	background-position: -109px -63px;
	background-repeat: no-repeat;
	display: block;
	height: 42px;
	width: 229px
}
#umbc-footer-logo a span {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden
}
#umbc-footer-nav-items {
	font-size: 13px;
	line-height: 16px;
	list-style: none;
	margin: 0 0 8px;
	padding: 0;
	text-align: right
}
#umbc-footer-nav-items li {
	border-right: 1px solid #999;
	display: inline;
	padding: 0 8px;
	white-space: nowrap
}
#umbc-footer-nav-items a {
	text-decoration: none
}
#umbc-footer-nav-items li.last-child {
	border-right: 0;
	padding-right: 0
}
#umbc-footer-info {
	text-align: right
}
#umbc-footer-facebook, #umbc-footer-twitter, #umbc-footer-youtube, #umbc-footer-rn {
	height: 16px;
	width: 16px;
	vertical-align: top;
	position: relative;
	top: -1px;
	cursor: pointer;
	background-image: url(http://www.umbc.edu/dps/images/sprites-new.png);
	display: inline-block
}
#umbc-footer-facebook {
	background-position: -30px -93px
}
#umbc-footer-twitter {
	background-position: -46px -93px
}
#umbc-footer-youtube {
	background-position: -62px -93px
}
#umbc-footer-rn {
	background-position: -78px -93px
}
 
.nav-numbers {
	list-style: none;
	margin: 0;
	float: left
}
.nav-numbers li {
	float: left;
	margin: 0 0 0 5px
}
.nav-numbers li a {
	padding-left: 0;
	padding-right: 0;
	width: 30px
}
.nav-numbers li.active a, .nav-numbers li a:hover {
	background: #c00
}
.nav-text {
	color: #aaa
}

 
/* #Typography
================================================== */
	 
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
}
h1 {
	font-size: 46px;
	line-height: 50px;
	margin-bottom: 14px;
}
h2 {
	font-size: 35px;
	line-height: 40px;
	margin-bottom: 10px;
}
h3 {
	font-size: 28px;
	line-height: 34px;
	margin-bottom: 8px;
}
h4 {
	font-size: 21px;
	line-height: 30px;
	margin-bottom: 4px;
}
h5 {
	font-size: 17px;
	line-height: 24px;
}
h6 {
	font-size: 14px;
	line-height: 21px;
}
.subheader {
	color: #777;
}
p {
	margin: 0 0 20px 0;
}
p img {
	margin: 0;
}
p.lead {
	font-size: 21px;
	line-height: 27px;
	color: #777;
}
em {
	font-style: italic;
}
strong {
	font-weight: bold;
	color: #333;
}
small {
	font-size: 80%;
}
/*	Blockquotes  */
blockquote, blockquote p {
	font-size: 17px;
	line-height: 24px;
	color: #777;
	font-style: italic;
}
blockquote {
	margin: 0 0 20px;
	padding: 9px 20px 0 19px;
	border-left: 1px solid #ddd;
}
blockquote cite {
	display: block;
	font-size: 12px;
	color: #555;
}
blockquote cite:before {
	content: "\2014 \0020";
}
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
	color: #555;
}
hr {
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	margin: 10px 0 30px;
	height: 0;
}
/* #Links
================================================== */
a, a:visited {
	color: #ce181e;
	text-decoration: underline;
	outline: 0;
}
a:hover, a:focus {
	color: #ce181e;
}
p a, p a:visited {
	line-height: inherit;
}
/* #Lists
================================================== */
ul, ol {
	margin-bottom: 20px;
}
ul {
	list-style: none outside;
}
ol {
	list-style: decimal;
}
ol, ul.square, ul.circle, ul.disc {
	margin-left: 30px;
}
ul.square {
	list-style: square outside;
}
ul.circle {
	list-style: circle outside;
}
ul.disc {
	list-style: disc outside;
}
ul ul, ul ol,  ol ol, ol ul {
	margin: 4px 0 5px 30px;
	font-size: 90%;
}
ul ul li, ul ol li,  ol ol li, ol ul li {
	margin-bottom: 6px;
}
li {
	line-height: 18px;
	margin-bottom: 12px;
}
ul.large li {
	line-height: 21px;
}
li p {
	line-height: 21px;
}
/* #Images
================================================== */

img.scale-with-grid {
	max-width: 100%;
	height: auto;
}
/* #Buttons
================================================== */

.button,  button,  input[type="submit"],  input[type="reset"],  input[type="button"] {
	background: #ffcc00;

background: -moz-linear-gradient(top,  #ffcc00 0%, #ffb200 100%);

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffcc00), color-stop(100%,#ffb200));

background: -webkit-linear-gradient(top,  #ffcc00 0%,#ffb200 100%);

background: -o-linear-gradient(top,  #ffcc00 0%,#ffb200 100%);

background: -ms-linear-gradient(top,  #ffcc00 0%,#ffb200 100%);

background: linear-gradient(to bottom,  #ffcc00 0%,#ffb200 100%);

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc00', endColorstr='#ffb200',GradientType=0 );


	border: 1px solid #aaa;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #000;
	display: inline-block;
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: none;
	 
	cursor: pointer;
 
	line-height: normal;
	padding: 8px 10px;
	font-family: 'Roboto',"Avenir-Medium", Arial, sans-serif;
}
.button:hover,  button:hover,  input[type="submit"]:hover,  input[type="reset"]:hover,  input[type="button"]:hover {
	color: #000;
	background: #e9ab13; /* Old browsers */
	 
	border: 1px solid #888;
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
}
.button:active,  button:active,  input[type="submit"]:active,  input[type="reset"]:active,  input[type="button"]:active {
	border: 1px solid #666;
	background: #e9ab13; /* Old browsers */ 
}
.button.full-width,  button.full-width,  input[type="submit"].full-width,  input[type="reset"].full-width,  input[type="button"].full-width {
	width: 100%;
	padding-left: 0 !important;
	padding-right: 0 !important;
	text-align: center;
}

/* #Sidebar Contact Form
================================================== */
.five td { padding-bottom:10px; padding-left: 10px }
.five td select, .five td input, .five td textarea {width:90%!important}
.five iframe{transform:scale(0.90);-webkit-transform:scale(0.90);transform-origin:0 0;-webkit-transform-origin:0 0; text-align:center; margin-left:5px}
.five label{font-weight:bold}
.five input[type=submit]{width:50%!important; margin-left: 25%;}


/* Fix for odd Mozilla border & padding issues */
	button::-moz-focus-inner,  input::-moz-focus-inner {
 border: 0;
 padding: 0;
}
 
/* #Misc
================================================== */
.remove-bottom {
	margin-bottom: 0 !important;
}
.half-bottom {
	margin-bottom: 10px !important;
}
.add-bottom {
	margin-bottom: 20px !important;
}
/* =JLD previously embedded styles, just for summer */
h1, h2, h3 {
	color: #000;
}
aside {
	/*background-color: #EEE;*/
	margin-bottom: 1em;
}
aside h3 {
	color: #ce181e;
	/*background:#FFF; */
	padding: .35em;
	font-size: 1.75em;
}
aside p, aside dl {
	margin: .25em;
}
#site-menu, #site-menu-background, #site-menu li a.hover {
	background:#000;
	color: #FEBE00;
}
#site-menu-background {
	border-top: 1px solid #fff;
}
#site-menu li.hover a {
	background-color: #eee;
	color: #000
}
 
#site-footer h3 {
	color: #FEBE00;
}
 
#one, #two, #three, #stem, #thinkcreateengage {
	position: relative;
	width: 280px;
	height: 168px;
}
#stem, #thinkcreateengage {
	height: 160px;
}
#stem span, #thinkcreateengage span {
	display: block;
	height: 0;
	overflow: hidden;
}
#one {
	background: url(../images/incoming-280-168.jpg) top left no-repeat;
}
#stem {
	background: url(../images/stem15.jpg) top left no-repeat;
}
#thinkcreateengage {
	background: url(../images/think-create-engage.jpg) top left no-repeat;
}
#one:hover, #two:hover, #three:hover, #stem:hover, #thinkcreateengage:hover {
	outline: 3px solid #f9b631;
}
#two {
	background: url(../images/current-280-168.jpg) top left no-repeat;
}
#three {
	background: url(../images/visiting-280-168.jpg) top left no-repeat;
}
#incoming:hover, a.studenttype:hover {
	color: #fff;
}
h3.students {
	position: absolute;
	bottom: 0;
	padding: 0;
	margin: 0;
	background: #ff5219;
	background: #60a03f;
	background:#f9b631;
	color: #fff;
	width: 100%;
	text-align: center;
}

.container .column, .container .columns {
	background-color: transparent;
}
 
#pp-heading h1, #pp-heading h2 {
	  color:#fff;
	padding: .25em 0;
	text-shadow: 1px 1px 2px #000;
}
.floatright {display:inline; float:right;}
.floatleft {display:inline; float:left;}
#copyright {background:#FFF; color:ffcc00;}
 

/* #Base Grid
================================================== */

.container {
	position: relative;
	width: 1010px;
	margin: 0 auto;
	padding: 0;
 
}
.container .column,  .container .columns {
	float: left;
	display: inline;
	margin-right: 10px;
	/*margin-left: 10px;
	background:#fff;*/
}
.row {
	margin-bottom: 20px;
}
/* Nested Column Classes */
.column.alpha, .columns.alpha {
	margin-left: 0;
}
.column.omega, .columns.omega {
	margin-right: 0;
}
/* Base Grid */
.container .one.column,  .container .one.columns {
	width: 40px;
}
.container .two.columns {
	width: 100px;
}
.container .three.columns {
	width: 160px;
}
.container .four.columns {
	width: 220px;
}
.container .five.columns {
	width: 280px;
}
.container .six.columns {
	width: 340px;
}
.container .seven.columns {
	width: 400px;
}
.container .eight.columns {
	width: 460px;
}
.container .nine.columns {
	width: 520px;
}
.container .ten.columns {
	width: 580px;
}
.container .eleven.columns {
	width: 640px;
}
.container .twelve.columns {
	width: 700px;
}
.container .thirteen.columns {
	width: 760px;
}
.container .fourteen.columns {
	width: 820px;
}
.container .fifteen.columns {
	width: 880px;
}
.container .sixteen.columns {
	width: 990px;
}
.container .one-third.column {
	width: 300px;
}
.container .two-thirds.column {
	width: 620px;
}
/* Offsets */
.container .offset-by-one {
	padding-left: 60px; 
}
.container .offset-by-two {
	padding-left: 120px;
}
.container .offset-by-three {
	padding-left: 180px;
}
.container .offset-by-four {
	padding-left: 240px;
}
.container .offset-by-five {
	padding-left: 300px;
}
.container .offset-by-six {
	padding-left: 360px;
}
.container .offset-by-seven {
	padding-left: 420px;
}
.container .offset-by-eight {
	padding-left: 480px;
}
.container .offset-by-nine {
	padding-left: 540px;
}
.container .offset-by-ten {
	padding-left: 600px;
}
.container .offset-by-eleven {
	padding-left: 660px;
}
.container .offset-by-twelve {
	padding-left: 720px;
}
.container .offset-by-thirteen {
	padding-left: 780px;
}
.container .offset-by-fourteen {
	padding-left: 840px;
}
.container .offset-by-fifteen {
	padding-left: 900px;
}



/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
		#youtubes {width:508px; height:286px;}
		body {background-image:none;}
.container {
	width: 768px;
}
.container .column,  .container .columns {
	margin-left: 10px;
	margin-right: 10px;
}
.column.alpha, .columns.alpha {
	margin-left: 0;
	margin-right: 10px;
}
.column.omega, .columns.omega {
	margin-right: 0;
	margin-left: 10px;
}
.alpha.omega {
	margin-left: 0;
	margin-right: 0;
}
.container .one.column,  .container .one.columns {
	width: 28px;
}
.container .two.columns {
	width: 76px;
}
.container .three.columns {
	width: 124px;
}
.container .four.columns {
	width: 172px;
}
.container .five.columns {
	width: 220px;
}
.container .six.columns {
	width: 268px;
}
.container .seven.columns {
	width: 316px;
}
.container .eight.columns {
	width: 364px;
}
.container .nine.columns {
	width: 412px;
}
.container .ten.columns {
	width: 460px;
}
.container .eleven.columns {
	width: 508px;
}
.container .twelve.columns {
	width: 556px;
}
.container .thirteen.columns {
	width: 604px;
}
.container .fourteen.columns {
	width: 652px;
}
.container .fifteen.columns {
	width: 700px;
}
.container .sixteen.columns {
	width: 748px;
}
.container .one-third.column {
	width: 236px;
}
.container .two-thirds.column {
	width: 492px;
}
/* Offsets */
.container .offset-by-one {
	padding-left: 48px;
}
.container .offset-by-two {
	padding-left: 96px;
}
.container .offset-by-three {
	padding-left: 144px;
}
.container .offset-by-four {
	padding-left: 192px;
}
.container .offset-by-five {
	padding-left: 240px;
}
.container .offset-by-six {
	padding-left: 288px;
}
.container .offset-by-seven {
	padding-left: 336px;
}
.container .offset-by-eight {
	padding-left: 384px;
}
.container .offset-by-nine {
	padding-left: 432px;
}
.container .offset-by-ten {
	padding-left: 480px;
}
.container .offset-by-eleven {
	padding-left: 528px;
}
.container .offset-by-twelve {
	padding-left: 576px;
}
.container .offset-by-thirteen {
	padding-left: 624px;
}
.container .offset-by-fourteen {
	padding-left: 672px;
}
.container .offset-by-fifteen {
	padding-left: 720px;
}
}


 /* SLIDER JUNK SLIDER SLIDER SLIDER SLIDER********************************* */
 #cbp-fwslider  {
	 background:url(../images/bk.jpg) top left no-repeat;
	 }
.cbp-fwslider {
	position: relative;
	margin: 0 0 10px;
	overflow: hidden;
	 /* =JLD */
	padding:0;
 
}
.cbp-fwslider h3, .cbp-fwslider h2 {color: #febe00;}
.cbp-fwslider ul {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	list-style-type: none;
}

.cbp-fwslider ul li {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	transform: translateZ(0);
	float: left;
	display: block;
	margin: 0;
	padding: 0;
}

.cbp-fwslider ul li > a,
.cbp-fwslider ul li > div {
	display: block;
	text-align: center;
	outline: none;
}

.cbp-fwslider ul li > a img {
	border: none;
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.cbp-fwslider nav span {
	position: absolute;
	top: 50%;
	width: 50px;
	height: 100px;
 
	/*background: #47a3da;  =JLD */
	color: #fff;
	font-size: 50px;
	text-align: center;
	margin-top: -50px;
	line-height: 100px;
	cursor: pointer;
	font-weight: normal;
	text-shadow: 3px 3px 2px rgba(10, 10, 10, 1);
}

.cbp-fwslider nav span:hover {
	background: #999;
}

.cbp-fwslider nav span.cbp-fwnext {
	right: 0px;
}

.cbp-fwslider nav span.cbp-fwprev {
	left: 0px;
}
 
.cbp-fwdots {
	 position: absolute;
	bottom:0;
	z-index:200;
	white-space: nowrap;
	text-align: center;
	width: 100%; 
}

.cbp-fwdots span {
	display: inline-block;
	width: 14px;
	height: 14px;
	background: #ddd;
	margin: 4px;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0 0 0 2px #000;
}

.cbp-fwdots span:hover {
	background: #999;
}

.cbp-fwdots span.cbp-fwcurrent {
	/*background: #47a3da;  =JLD */
	box-shadow: 0 0 0 2px #900;
	-webkit-transition: box-shadow 0.2s ease-in-out;
	-moz-transition: box-shadow 0.2s ease-in-out;
	transition: box-shadow 0.2s ease-in-out;
}
cbp-fwslider li {position:relative;}
cbp-fwslider li p.left {display:inline; float:left;}
#dotcontainer {margin-top:0;}

 .carousel-caption
{
/*  */position: absolute;
  left: 10%;
  width: 250px;
  top: 25px;
  z-index: 11;
  padding: 5px 10px;
  color: #ffffff;
  text-align: left;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
  background-color: rgba(27, 27, 27, 0.8);
}
.carousel-caption h3, .carousel-caption h2 { line-height:1.35em; text-align:center;} 
small, .small
{
 font-size:1em;
}
.wordwrap
{
/* wrap long text and urls */
white-space: pre; /* CSS 2.0 */
white-space: pre-wrap; /* CSS 2.1 */
white-space: pre-line; /* CSS 3.0 */
white-space: -pre-wrap; /* Opera 4-6 */
white-space: -o-pre-wrap; /* Opera 7 */
white-space: -moz-pre-wrap; /* Mozilla */
word-wrap: break-word; /* IE 5+ */
} 
 
.carousel-caption-right {
  position: absolute;
  right: 15%;
  /*  left: 25%;*/
  width: 30%;
 top: 25px;
  z-index: 10;
  padding: 20px;
  color: #fff;
  text-align: left;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  background-color: rgba(27, 27, 27, 0.8);
}
.carousel-caption-right-top {  position: absolute;
  right: 15%;
  /*  left: 25%;*/
  width: 30%;
  top: 25px;
  z-index: 10;
  padding: 20px;
  color: #fff;
  text-align: left;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  background-color: rgba(27, 27, 27, 0.8);}
.carousel-caption .btn {
  text-shadow: none;
}

#captionone, #captiontwo, #captionthree { text-align:center; background:#FFF; width:100%; padding:.5em; display:none; margin-bottom:0; color:#fff; }
.home-page-figure { position:relative;}
.home-page-figcaption { position:absolute; bottom:3px; font-weight:bold; margin:auto; text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
background-color: rgba(27, 27, 27, 0.8); color:#FEBE00; width:100%; text-align:center; }
.home-heading {background:#FFF; color:#fff;}
#youtubes {width:640px; height:360px; display:inline; float:left; border: none;}
dt {font-weight:bold;margin-bottom:5px; text-transform:uppercase;}
dd {font-style:italic; margin-left:5px;margin-bottom:7px}
#breadcrumb {color:#000; text-decoration:none;}
#site-footer .column, aside.columns, aside.column, .aside {background:#eee;} 
#dps span {display: block;
			height: 0;
			overflow: hidden;}
 #social {float:right; display:inline;}

    /* Self Clearing */
.container:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
.clearfix:before,  .clearfix:after,  .row:before,  .row:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.row:after,  .clearfix:after {
	clear: both;
}
.row,  .clearfix {
	zoom: 1;
}
/* You can also use a <br class="clear" /> to clear columns */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
 @media only screen and (max-width: 960px) {
	 #youtubes {width:508px; height:286px;} 
	 }
 @media only screen and (max-width: 767px) {
	 #youtubes {width:508px; height:286px;}
.container {
	width: 300px;
}
.container .columns,  .container .column {
	margin: 0;
}
.container .one.column,  .container .one.columns,  .container .two.columns,  .container .three.columns,  .container .four.columns,  .container .five.columns,  .container .six.columns,  .container .seven.columns,  .container .eight.columns,  .container .nine.columns,  .container .ten.columns,  .container .eleven.columns,  .container .twelve.columns,  .container .thirteen.columns,  .container .fourteen.columns,  .container .fifteen.columns,  .container .sixteen.columns,  .container .one-third.column,  .container .two-thirds.column {
	width: 300px;
}
/* Offsets */
.container .offset-by-one,  .container .offset-by-two,  .container .offset-by-three,  .container .offset-by-four,  .container .offset-by-five,  .container .offset-by-six,  .container .offset-by-seven,  .container .offset-by-eight,  .container .offset-by-nine,  .container .offset-by-ten,  .container .offset-by-eleven,  .container .offset-by-twelve,  .container .offset-by-thirteen,  .container .offset-by-fourteen,  .container .offset-by-fifteen {
	padding-left: 0;
}
}
   @media only screen and (min-width: 480px) and (max-width: 767px) {
	    
.container {
	width: 420px;
}
.container .columns,  .container .column {
	margin: 0;
}
.container .one.column,  .container .one.columns,  .container .two.columns,  .container .three.columns,  .container .four.columns,  .container .five.columns,  .container .six.columns,  .container .seven.columns,  .container .eight.columns,  .container .nine.columns,  .container .ten.columns,  .container .eleven.columns,  .container .twelve.columns,  .container .thirteen.columns,  .container .fourteen.columns,  .container .fifteen.columns,  .container .sixteen.columns,  .container .one-third.column,  .container .two-thirds.column {
	width: 420px;
}
  .carousel-caption, .carousel-caption-right, .carousel-caption-right-top,.carousel-caption-right, .carousel-caption-right-top,
.carousel-caption h2, .carousel-caption h3, .carousel-caption-right h2, .carousel-caption-right h3, .carousel-caption-right-top h2, .carousel-caption-right-top h3,
.carousel-caption small, .carousel-caption-right small,  .carousel-caption-right p, .carousel-caption-right-top p, .carousel-caption-right-top small,
.carousel-caption, .wordwrap, #cbp-fwslider div { display:none;}

#captionone, #captiontwo, #captionthree {display:block; padding:1em; font-weight:bold;  }
#captionone a, #captiontwo a, #captionthree a { color:#fff;}	
}
/* MEDIA QUERY */
@media screen and (max-width:991px) {
#site-menu li a {
	font-size: 12px
}
}
/* MEDIA QUERY */
@media screen and (max-width:768px) {
	#youtubes {width:420px; height:236px;}
#container-header {
	padding: 4px
}
#umbc-logo {
	margin: 7px 0 10px 10px
}
#umbc-nav-items {
	font-size: 11px
}
#site-menu-background {
	background-color: #fc0
}
#site-menu {
	color: #000;
	position: relative;
	z-index: 10;
	max-width: 1004px;
	border-top: 0;
	margin: 0 auto;
	padding: 0;
	position: relative
}
#site-menu ul {
	margin: 0;
	padding: 0
}
#site-menu>ul {
	overflow: hidden
}
#site-menu li {
	display: block;
	float: left;
	margin: 0;
	padding: 0
}
#site-menu li a {
	border-right: 1px solid #666;
	border-right: 1px solid rgba(102,102,102,1);
	color: inherit;
	display: block;
	font-family: 'Roboto',"Avenir-Medium", Arial, sans-serif;
	font-size: 12px;
	line-height: 12px;
	margin: 0;
	padding: 10px 8px 8px 6px;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	white-space: nowrap
}
#site-menu li li a {
	border-right: 0;
	font-family: 'Roboto',"Avenir-Medium", Arial, sans-serif;
	text-transform: none;
	line-height: 14px;
	padding: 10px 28px 10px 8px;
	border-left: 1px solid #fff;
	border-left: 1px solid rgba(255,255,255,.05)
}
#site-footer {
	display: block
}
#site-footer .footer-field {
	display: block;
	border-right: 0
}
#umbc-footer-logo, #umbc-footer-nav, #umbc-footer-info {
	float: none;
	text-align: center
}
#umbc-footer-logo {
	display: block;
	width: auto;
	text-align: center;
	margin-bottom: 12px;
	padding-top: 2%
}
#umbc-footer-logo a {
	display: inline-block
}
#umbc-footer-nav {
	margin-bottom: 24px
}
#umbc-footer-nav li {
	display: block;
	margin-bottom: 8px;
	border-right: 0;
	text-align: center
}
#umbc-footer-info {
	width: auto
}
#umbc-footer-info .bullet {
	display: block;
	visibility: hidden;
	height: 1px
}
h1 {
	font-size: 2em
}
h2 {
	font-size: 1.8em
}
h3 {
	font-size: 1.6em
}
h4 {
	font-size: 1.4em
}
h5 {
	font-size: 1.1em
}
h6 {
	font-size: 1em
}
	  .carousel-caption, .carousel-caption-right, .carousel-caption-right-top,.carousel-caption-right, .carousel-caption-right-top,
.carousel-caption h2, .carousel-caption h3, .carousel-caption-right h2, .carousel-caption-right h3, .carousel-caption-right-top h2, .carousel-caption-right-top h3,
.carousel-caption small, .carousel-caption-right small,  .carousel-caption-right p, .carousel-caption-right-top p, .carousel-caption-right-top small,
.carousel-caption, .wordwrap { display:none;}

 /*=JLD*/
}
/* MEDIA QUERY */
@media screen and (max-width: 975px){
	h1 img{width:90%}
	#youtubes {width:420px; height:236px;}
#umbc-logo {
	height: 30px;
	margin: 4px 0 4px 50px;
	width: 109px
}
#umbc-logo a {
	background-image: url(http://www.umbc.edu/dps/images/sprites-new.png);
	background-position: 0 -63px;
	height: 30px;
	width: 109px
}
#umbc-nav {
	margin-top: 5px;
	padding: 8px 0 0;
	min-width: 100px;
	width: 46%
}
#umbc-nav-items {
	display: none
}
#umbc-nav-search-query {
	width: 80%
}
span#mobile-site-menu-expander {
	display: block;
	margin-right: -40px
}
#mobile-site-menu-expander {
	background-color: #FFF;
	border: 1px solid #666;
	border-radius: 6px;
	box-shadow: 0 0 2px 0 #333;
	box-shadow: 0 0 2px 0 rgba(0,0,0,.5);
	display: block;
	height: 28px;
	left: 4px;
	overflow: hidden;
	padding-top: 8px;
	padding-bottom: 1px;
	position: absolute;
	top: 4px;
	width: 40px
}
.mobile-site-menu-expander-bar {
	background-color: #FFF;
	border-radius: 2px;
	box-shadow: 0 0 2px 0 #333;
	box-shadow: 0 0 2px 0 rgba(0,0,0,.5);
	display: block;
	height: 3px;
	margin: 0 auto;
	width: 70%
}
.mobile-site-menu-expander-bar+.mobile-site-menu-expander-bar {
	margin-top: 6px
}
#site-header {
	position: static;
	box-shadow: 0 2px 1px -1px #aaa;
	box-shadow: 0 2px 1px -1px rgba(0,0,0,.5)
}
#site-header.no-menu {
	padding-left: 4px
}
#site-header h1 {
	font-size: 30px;
	line-height: 34px;
	position: relative;
	padding: 10px 8px 0
}
#site-menu {
	display: none;
	position: static;
	height: auto;
	box-shadow: none
}
#site-menu li {
	float: none;
	position: static
}
#site-menu li.utilities {
	display: block;
	float: none;
	position: static
}
#site-menu li a {
	background-color: #EEE;
	border-right: 0;
	border-bottom: 1px solid #000;
	border-bottom: 1px solid rgba(0,0,0,.2);
	color: #333;
	font-size: 16px;
	line-height: 18px;
	padding: 14px 20px 14px 8px;
	text-transform: uppercase
}
#site-menu li:hover a {
	background-color: #EEE;
	color: #333
}
#site-menu li li a {
	border-right: 0;
	font-family: 'Roboto',"Avenir-Medium", Arial, sans-serif;
	line-height: 20px;
	text-transform: none;
	padding: 14px 20px 14px 28px
}
#site-menu .menu-arrow {
	display: none
}
#site-menu>ul>li>a .menu-arrow {
	display: none
}
#site-menu li>ul {
	box-shadow: none;
	display: block;
	position: static;
	width: auto
}
#site-menu li li>ul {
	display: block;
	position: static;
	left: auto;
	top: auto
}
#site-menu li li.hover>ul {
	display: block
}
#site-menu li li li a {
	padding-left: 58px
}
.carousel-caption, .carousel-caption-right, .carousel-caption-right-top,.carousel-caption-right, .carousel-caption-right-top,
.carousel-caption h2, .carousel-caption h3, .carousel-caption-right h2, .carousel-caption-right h3, .carousel-caption-right-top h2, .carousel-caption-right-top h3,
.carousel-caption small, .carousel-caption-right small,  .carousel-caption-right p, .carousel-caption-right-top p, .carousel-caption-right-top small,
.carousel-caption, .wordwrap { display:none;}
}
/* MEDIA QUERY */
@media screen and (max-width:640px) {

#umbc-logo {
	height: 30px;
	margin: 4px 0 4px 50px;
	width: 109px
}
#umbc-logo a {
	background-image: url(http://www.umbc.edu/dps/images/sprites-new.png);
	background-position: 0 -63px;
	height: 30px;
	width: 109px
}
#umbc-nav {
	margin-top: 5px;
	padding: 8px 0 0;
	min-width: 100px;
	width: 46%
}
#umbc-nav-items {
	display: none
}
#umbc-nav-search-query {
	width: 80%
}
span#mobile-site-menu-expander {
	display: block;
	margin-right: -40px
}
#mobile-site-menu-expander {
	background-color: #FFF;
	border: 1px solid #666;
	border-radius: 6px;
	box-shadow: 0 0 2px 0 #333;
	box-shadow: 0 0 2px 0 rgba(0,0,0,.5);
	display: block;
	height: 28px;
	left: 4px;
	overflow: hidden;
	padding-top: 8px;
	padding-bottom: 1px;
	position: absolute;
	top: 4px;
	width: 40px
}
.mobile-site-menu-expander-bar {
	background-color: #FFF;
	border-radius: 2px;
	box-shadow: 0 0 2px 0 #333;
	box-shadow: 0 0 2px 0 rgba(0,0,0,.5);
	display: block;
	height: 3px;
	margin: 0 auto;
	width: 70%
}
.mobile-site-menu-expander-bar+.mobile-site-menu-expander-bar {
	margin-top: 6px
}
#site-header {
	position: static;
	box-shadow: 0 2px 1px -1px #aaa;
	box-shadow: 0 2px 1px -1px rgba(0,0,0,.5)
}
#site-header.no-menu {
	padding-left: 4px
}
#site-header h1 {
	font-size: 30px;
	line-height: 34px;
	position: relative;
	padding: 10px 8px 0
}
#site-menu {
	display: none;
	position: static;
	height: auto;
	box-shadow: none
}
#site-menu li {
	float: none;
	position: static
}
#site-menu li.utilities {
	display: block;
	float: none;
	position: static
}
#site-menu li a {
	background-color: #EEE;
	border-right: 0;
	border-bottom: 1px solid #000;
	border-bottom: 1px solid rgba(0,0,0,.2);
	color: #333;
	font-size: 16px;
	line-height: 18px;
	padding: 14px 20px 14px 8px;
	text-transform: uppercase
}
#site-menu li:hover a {
	background-color: #EEE;
	color: #333
}
#site-menu li li a {
	border-right: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 20px;
	text-transform: none;
	padding: 14px 20px 14px 28px
}
#site-menu .menu-arrow {
	display: none
}
#site-menu>ul>li>a .menu-arrow {
	display: none
}
#site-menu li>ul {
	box-shadow: none;
	display: block;
	position: static;
	width: auto
}
#site-menu li li>ul {
	display: block;
	position: static;
	left: auto;
	top: auto
}
#site-menu li li.hover>ul {
	display: block
}
#site-menu li li li a {
	padding-left: 58px
}
  .carousel-caption, .carousel-caption-right, .carousel-caption-right-top,.carousel-caption-right, .carousel-caption-right-top,
.carousel-caption h2, .carousel-caption h3, .carousel-caption-right h2, .carousel-caption-right h3, .carousel-caption-right-top h2, .carousel-caption-right-top h3,
.carousel-caption small, .carousel-caption-right small,  .carousel-caption-right p, .carousel-caption-right-top p, .carousel-caption-right-top small,
.carousel-caption, .wordwrap { display:none;}
}
 
 

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		#youtubes {width:300px; height:169px;}
		#summer-heading h1 {line-height:1em;}
		body {background-image:none;}
		  .optional { display:none;}
	.carousel-caption, .carousel-caption-right, .carousel-caption-right-top,.carousel-caption-right, .carousel-caption-right-top,
.carousel-caption h2, .carousel-caption h3, .carousel-caption-right h2, .carousel-caption-right h3, .carousel-caption-right-top h2, .carousel-caption-right-top h3,
.carousel-caption small, .carousel-caption-right small,  .carousel-caption-right p, .carousel-caption-right-top p, .carousel-caption-right-top small,
.carousel-caption, .wordwrap, #cbp-fwslider div { display:none;}

#captionone, #captiontwo, #captionthree {display:block; padding:1em; font-weight:bold;  }
#captionone a, #captiontwo a, #captionthree a { color:#fff;}	 
		  
}





