span.dropt {}
span.dropt:hover {text-decoration: none; z-index: 6; }
span.dropt span {position: absolute; left: -9999px;
  margin: 20px 0 0 0px; padding: 3px 3px 3px 3px; z-index: 6;}
span.dropt:hover span {left:0px; background: #FFF;} 
span.dropt span {position: absolute; left: -9999px;
  margin: 4px 0 0 0px; padding: 5px; }
span.dropt:hover span {margin: 0px 0px 0px 30px; background: #FFF; z-index:6;} 