@charset "UTF-8";
/* CSS Document */

@charset "UTF-8";
/* CSS Document */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;list-style:none;}








#page {
 width:920px;
 margin:0 auto;
 }
#page2 {
 background:#fff;
 float:left;
 width:900px;
 padding:10px;
 border:solid #444;
 border-width:1px 3px 3px 1px;
 font-size:85%;
 line-height:1.5em;
 color:#566;
 }


#wrapper{
	width:900px;
	 position: relative; /* create the context for the floated horizontal navigation */
        /* top: 10px; /* stick them somewhere on the page 
        left: 10px; */
	background-color:#ffffff;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:10px;
	border-top:solid 1px #404040;
	border-left:solid 1px #404040;
	border-right:solid 4px #404040;
	border-bottom:none;
	
}
#container_header {
  margin:auto;
  width: 880px; 
	padding:10px 10px 0px 10px;
	height:90px;
  border:none;
  position:relative;
}

#container {
background-color:#fff;
border-top: none;
box-shadow: 0 8px 8px #999;
margin: 0 auto;
width: 1024px;
padding: 1px 0 0 0;
position: relative;
height:auto;
	
}

#hpheadpic {
border-top: none;
margin: 0 0px 0 8px;
width: 690px;
padding: 1px 0 0 0;
position: absolute;
float:right;
top:1px;
right:-710px;
}

#hpheadpic img {
width:100%;
}



#main_content {
  width:640px;
  position:relative;
  float:left;
padding: 10px 10px 0 20px;
margin-right:20px;
margin-top:25x;
}

#main_content table tr{
	padding: 5px;
	vertical-align: top;
}
#main_content th.title {
	padding: 5px;
	font-size: 14px;
	font-weight: 700;
	text-align: left;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #999;
}
#main_content table td.course {
	text-align: left;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}







#main_content h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	line-height:20px;
	font-weight:700;
	color:#cc0000;
	padding-bottom:30px;
	text-decoration:none;
	margin:0px;
	padding-top: 30px;
}
#main_content h2 {
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
}

#main_content h3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:20px;
	font-weight:600;
	color:#222222;
	padding-bottom:10px;
	text-decoration:none;
	margin:0px;
}
#main_content h4 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:20px;
	font-weight:600;
	color:#222222;
	padding-bottom:10px;
	text-decoration:none;
	margin:0px;
	font-style: italic;
}


#main_content p  {
  font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	color:#222222;
	padding-bottom:5px;
	text-decoration:none;
	margin:0px;
}

#main_content ul  {
  font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	color:#222222;
	padding-bottom:10px;
	text-decoration:none;
	margin:0px;
	list-style:square;
}

#main_content ul li {
  font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	color:#222222;
	padding-bottom:4px;
	text-decoration:none;
	margin:0px;
		list-style:square;
		margin-left:15px;

}






#sub_content {
  float:left;
  width:300px;
  position:relative;
  margin-left:15px;
  margin-bottom:15px;
  background-color:#ffffff;
   height:auto;
  min-height:570px;
}

#sub_content p {
  font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#333;
	text-decoration:none;
	line-height:17px;
	padding-bottom:9px;
}

#sub_content p a {
	color:#523D66;
	text-decoration:underline;
	margin:0px;
}

#sub_content p strong {
  font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#333;
	font-weight:bold;
	text-decoration:none;
	line-height:17px;
}

#sub_content p a strong {
  font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	font-weight:bold;
	text-decoration:underline;
	line-height:17px;
}

#sub_content ul {
  font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#333;
	
	padding-bottom:9px;
}

#sub_content ul li {
  font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#333;
	font-weight:normal;
	text-decoration:none;
	line-height:17px;
	list-style:square;
	margin-left:25px;
}

#sub_content ul li i {
	color:#333;
	font-weight:bold;
	font-style:italic;
}

#sub_content ul li a {
	color:#075D8D;
	text-decoration:underline;
}

#sub_content h1 {
  font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#29719F;
	padding-bottom:5px;
	padding-top:4px;
	text-decoration:none;
	margin:0px;
}

#sub_content h3 {
  font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	color:#202020;
	padding-bottom:2px;
	padding-top:6px;
	text-decoration:none;
	text-transform:none;
	margin:0px;
}

#sub_content h5 {
  font-family:Arial;
	font-size:13px;
	font-weight:bold;
	color:#29719F;
	padding-bottom:1px;
	padding-top:2px;
	text-decoration:none;
	margin:0px;
}

#sub_content .more p {
  font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333;
	text-decoration:none;
	line-height:17px;
	padding-bottom:9px;
	padding-top:5px;
}

#sub_content .logo img {
  float:left;
  position:relative;
  padding-top:15px;
  padding-bottom:25px;
  padding-right:15px;
 background-color:#ffffff;
   height:auto;

}

#subcontent .shadowbox {
	width:400px;
	height:auto;
	margin-left:-5px;

	padding:9px 10px 0 10px;
	-moz-box-shadow: 0 0 6px #999;
	-webkit-box-shadow: 0 0 6px #999;
	box-shadow: 0 0 6px #999;
	position:relative;
	display:block;
	margin-bottom:10px;

}


#subcontent .shadowbox img {
	width:118px;
	height:auto;
	margin-bottom:11px;	
	margin-left:11px;
	position:relative;
	display:block;
	float:right;

}

#subcontent .shadowbox h2 {
	font-size:16px;
	color:#c00;
	font-family:Arial, Helvetica, sans-serif;
	line-height:22px;
	margin-bottom:4px;
}

#subcontent .shadowbox h3 {
	font-size:14px;
	color:#C00;
	font-family:Arial, Helvetica, sans-serif;
	line-height:19px;
	margin-top:4px;
	margin-bottom:5px;
	margin-left:0px;
}

#subcontent .shadowbox h6 {
	font-size:14px;
	color:#333;
	font-family:"Arial";
	font-weight:normal;
	line-height:18px;
	padding-bottom:8px;
	margin-bottom:0px;
}

#subcontent .shadowbox p {
	font-size:13px;
	color:#333;
	font-family:"Arial";
	line-height:18px;
}

#subcontent .shadowbox ul li {
	font-size:12px;
	color:#333;
	font-family:"Arial";
	line-height:16px;
	padding-bottom:1px;
	list-style:disc;
	margin-left:15px;
	text-indent:-10px;
}


#hp_content {
  float:right;
  width:723px;
  position:relative;
  margin-right:15px;
  margin-bottom:15px;
  background-color:none;
  padding:0px;

}

#hp_content p {
  font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#333;
	text-decoration:none;
	line-height:17px;
	padding-bottom:9px;
}

#hp_content p a {
	color:#523D66;
	text-decoration:underline;
	margin:0px;
}

#hp_content p strong {
  font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#333;
	font-weight:bold;
	text-decoration:none;
	line-height:17px;
}

#hp_content p a strong {
  font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	font-weight:bold;
	text-decoration:underline;
	line-height:17px;
}

#hp_content ul {
  font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#333;
	
	padding-bottom:9px;
}

#hp_content ul li {
  font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#333;
	font-weight:normal;
	text-decoration:none;
	line-height:17px;
	list-style:square;
	margin-left:25px;
}

#hp_content ul li i {
	color:#333;
	font-weight:bold;
	font-style:italic;
}

#hp_content ul li a {
	color:#075D8D;
	text-decoration:underline;
}

#hp_content h1 {
  font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#523D66;
	padding-bottom:5px;
	padding-top:4px;
	text-decoration:none;
	margin:0px;
}

#hp_content h3 {
  font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	color:#202020;
	padding-bottom:2px;
	padding-top:6px;
	text-decoration:none;
	text-transform:none;
	margin:0px;
}

#hp_content h5 {
  font-family:Arial;
	font-size:13px;
	font-weight:bold;
	color:#523D66;
	padding-bottom:1px;
	padding-top:2px;
	text-decoration:none;
	margin:0px;
}

#hp_content h6 {
  font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:16px;
	font-weight:bold;
	color:#523D66;
	padding-bottom:5px;
	padding-top:4px;
	text-decoration:none;
	margin:0px;
}








#content {
  float:left;
  width:415px;
  background-color: #fff;
}



#footer { 
  
  border-top:1px #666 solid;
  
  padding: 15px 10px 12px 10px;
  width:990px;
  clear:both;
  border:none;
  font-size:10px;
   text-align:center;
   margin:19px 0 10px 0;
} 


#footer a {
	color: #333333;
	text-decoration: underline;
}

#footer a:hover {
	color: #FF0000;
}

 
   #right_side
 {
	 float:right;
	 margin-bottom:9px;
	 width:180px;
	 margin-left:30px;
	 align:right;
	 position:relative;
 }
 
	
#wrap {
	width: 600px;
	margin:0 auto;
	overflow:hidden;
	padding:10px;
	float: left;
}

div.col ul {border-bottom: 2px solid #ccc; padding:10px 0 10px 20px; margin:0;}
.active {background-color: #bbbbbb;  background-position: 100% -140px;}
.col {
	float: left;
	width:500px;
	margin-right:30px;
}

div.col ul {margin:0; padding:0; list-style:none;}
div.col li {margin:5px 0; padding:0;}

#columns_profiles{
	column-gap: 2em;   /* shown in yellow */
	column-rule: 4px solid green;
	padding: 0px;      /* shown in blue */
	background-image: url(../images/header-profiles.jpg);
	background-repeat: no-repeat;
}

 NAV SIDEBAR LEFT CONTAINERS 

#navigation {
	position:relative;
	top:40px;
  float:left;
  width:300px;
  min-height:200px;
  height:auto;
  margin-top:85px;
padding:0;
	background-color:#FC0;
}

#navigation h2 {
  font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#cc0000;
	padding-bottom:1px;
	padding-top:14px;
	text-decoration:none;
	margin:0px;
}

#navigation p  {
  font-family:"Arial Black", Gadget, sans-serif;
	font-size:15px;
	font-weight:bold;
	color:#000000;
	line-height:17px;
	text-decoration:none;
	background-color:#FC0;
	padding:12px 13px 9px 9px;
	margin:0 0 0px 0px;
	border-bottom:1px solid #fff;
	
	
}

#navigation p a {
  font-family:"Arial Black", Gadget, sans-serif;
	font-size:15px;
	font-weight:bold;
	color:#000000;
	line-height:17px;
	text-decoration:none;

	
}

#navigation p a:hover {
  font-family:"Arial Black", Gadget, sans-serif;
	font-size:15px;
	font-weight:bold;
	color:#cc0000;
	text-decoration:none;

}

#navigation p a:active {
    font-family:"Arial Black", Gadget, sans-serif;
	font-size:15px;
	font-weight:bold;
	color:#cc0000;
	text-decoration:none;

}
#home .page-container.layout-home .page-content #container #main_content .alignright a {
	font-weight: normal;
	font-variant: normal;
	color: #666;
	text-transform: lowercase;
	text-decoration: underline;
	font-size: 12px;
}
