#four{display:none}

#tfa_0-T, .supportInfo, div.lengthIndicator{
	display:none!important;
}
form#tfa_0, form#tfa_0 .section, form#tfa_0 label{background-color:transparent!important;}
form#tfa_0 .section, form#tfa_0 div{
	margin:0px!important;
	padding:0px!important;
}
form#tfa_0, form#tfa_0 .group, form#tfa_0 .oneField, form#tfa_0 .section{width:100%!important}

form#tfa_0 input, form#tfa_0 select, form#tfa_0{height:20px;}

form#tfa_0 select{width:270px;}

form#tfa_0 .oneField{padding-bottom:10px!important}

form#tfa_0 label{
	font-weight: bold;
	font-size: 11pt;
}
form#tfa_0 input.primaryAction{
	font-weight:bold;
	text-align:center!important;
	height:30px;
}
.wForm{
	min-height:800px!important; 
	width:100%!important; 
	padding:0px!important; 
	margin:0px!important; 
	overflow:hidden!important
	}

fieldset.captcha legend, div.captchaHelp{display:none!important}

/*Hide Fields*/
#tfa_766-D, #tfa_331-D, #tfa_807-D, #tfa_808-D, #tfa_809-D, #tfa_816-D, #tfa_822-D, #tfa_817-D, #tfa_822-HTML{display:none}

@media screen and (max-width:640px) {

#tfa_24-D, #tfa_25-D, #tfa_26-D, #tfa_375-D {display:none}
form#tfa_0 #tfa_381-D .inputWrapper{width:100%!important}
#tfa_381-D textarea{max-width:300px!important}

}